<%= form_for(@camper) do |f| %>
  <% if @camper.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@camper.errors.count, "error") %> prohibited this camper from being saved:</h2>

      <ul>
      <% @camper.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :institution %><br />
    <%= f.text_field :institution %>
  </div>
  <div class="field">
    <%= f.label :gitId %><br />
    <%= f.text_field :gitId %>
  </div>
  <div class="field">
    <%= f.label :jiraId %><br />
    <%= f.text_field :jiraId %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
